{% extends "components/form.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load allauth %}
{% block title %}
{% trans "Change Password" %}
{% endblock title %}
{% block content %}

<div class="container">
    <div class="wrapper">
        <h1 class="text-center p-3">
            {% if token_fail %}
            {% trans "Bad Token" %}
            {% else %}
            {% trans "Change Password" %}
            {% endif %}
        </h1>
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
            request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
        {% else %}

        <form method="post" novalidate class="row g-2 rental-form" enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="col-md-6">
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if form.is_bound %}
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field class="is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field field %}
                    {% endif %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="col-md-6">
                <div>
                    {% block submit_button %}
                    <button type="submit" class="filter-btn">Register</button>
                    <!-- <input type="submit" class="filter-btn" value="Register"> -->
                    {% endblock %}

                </div>
            </div>

        </form>
        {% endif %}

    </div>
</div>



{% endblock content %}