{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
Sign Up
{% endblock %}

{% block content %}

<style>
    /* Add Rental Css */
    body {
        overflow: auto;
    }

    .wrapper {
        background-color: white;
    }

    .rental-form {
        margin: 30px auto;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 15px;
    }

    input,
    textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #999;
        -moz-appearance: 'textfield';
    }

    .submit-btn {
        text-align: center;
    }

    .filter-btn {
        margin: 0;
    }
</style>
<div class="container">
    <div class="wrapper">
        <h1 class="text-center p-3">Register your account</h1>

        <form method="post" novalidate class="row g-2 rental-form">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="col-md-6">
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if form.is_bound %}
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field class="is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field field %}
                    {% endif %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="col-md-6">
                <div class="col-4">
                    <input type="submit" class="filter-btn" value="Register">

                </div>
            </div>

        </form>
    </div>
</div>
<!-- <div class="container wrapper mt-3">
    <h2 class="text-center p-3">Sign Up</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-10">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        {{ form.password1|as_crispy_field }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button class="btn btn-info" type="submit">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
{% endblock %}