{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load socialaccount %}
{% block content %}
<style>
    .opaque-bg {
        background: rgba(255, 255, 255, .1);
        /* Adjust the RGBA values to control the opacity */
    }
</style>
<div class="d-flex flex-column justify-content-center align-items-center py-5">
    <div>
        <h1 class="text-center mb-4 display-2">Easy Rental</h1>

        <div class="wrapper my-auto opaque-bg">
            <form action="{% url 'account_signup' %}" method="POST" class="my-auto" novalidate>
                <div class="">
                    {% csrf_token %}

                    {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    {% if form.is_bound %}
                    {% if field.errors %}

                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback" style="color:#ff00007e;">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field class="is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field field class="form-control" %}
                    {% endif %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% endfor %}

                    {% if form.errors %}
                    <div class="col-md-6">
                        {% for error in form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <input class="border submit-btn w-100 my-3 py-2" type="submit" value="Sign Up">

                </div>

            </form>
            <p class="text-center text-muted">or</p>
            <div class=" mt-3">
                <a href="{% provider_login_url 'google' %}">
                    <button class="btn w-100 py-2 border google-signin">
                        <i class="fa fa-google fa-fw"></i>
                        <span> Sign in with google</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}