body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin: auto;
    /* overflow: hidden; */
}

.nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(28, 148, 228);
    padding-top: 12px;
    width: 100%;
    /* overflow: hidden; */
    /* position: relative; */
    position: sticky;

}

.nav> :not(:last-child) {
    margin-right: 10px;
}

.nav-link {
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    background-color: rgba(28, 148, 228, 0.842);
}


/* For category dropdown */
.dropdown {
    /* float: left; */
    /* position: relative; */
    /* overflow: hidden; */
}


.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.nav a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: rgba(67, 149, 204, 0.842);
    color: #fff;
    border-radius: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    /* transform: translateX(-140px); */
    /* left: 18%; */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;

}

.form-flex {
    width: 100%;
}

.search-input {
    padding: 10px 30px 10px 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    width: 100%;

}

.search-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    transform: translate(-50%);
    color: rgb(28, 148, 228);
}

.login-signup-divider {
    position: relative;
    display: inline-block;
    height: 10px;
    margin: 0;
}

.login-signup-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 14px;
    background-color: #ccc;
}


.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.hamburger .line {
    width: 2rem;
    height: 0.25rem;
    background-color: white;
}


.nav-link:hover {
    color: #ddd;
}

.brand-name {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

/* Tablet Layout
@media (min-width: 768px) {

    .left-section,
    .right-section {
        flex-direction: row;
    }
}

/* Mobile Layout */
/* @media (max-width: 600px) {
    .nav { */
/* flex-direction: column; */
/* justify-content: ; */
/* }

    .left-section,
    .right-section {
        display: None; */
/* flex-direction: column;
        flex-wrap: wrap;
        margin: auto; */
/* } */

/* .hamburger {
        display: flex;
    }

    .responsive-dropdown {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap; */
/* margin: auto; */
/* } */


/* } */