{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
<div class="container border rounded shadow mt-3 py-3">
    <h2 class="text-center">User Profile</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" method="post">
                {{ request.user}}
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-info">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}