{% extends '_base.html' %}
{% load static %}
{% block title %}
User Profile
{% endblock %}

{% block content %}

<style>
    .wrapper {
        background-color: #f8f9fa;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 600px;
        width: 100%;
    }

    .img-container img {
        max-width: 150px;
        border-radius: 8px;
    }

    .profile-content p {
        margin-bottom: 10px;
    }

    .btn-group .btn {
        margin-right: 10px;
    }

    .chat-button {
        margin-top: 20px;
    }
</style>

<div class="container wrapper">
    <div class="profile-card">
        <!-- <h1 class="text-center mb-4">User Profile</h1> -->

        <div class="text-center img-container mb-3">
            {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="Profile Image" class="img-thumbnail mb-3">
            {% else %}
            <img src="{% static 'images/profile.png' %}" alt="Profile Image" class="img-thumbnail mb-3">
            {% endif %}
            <h5 class="card-title">{{ profile.user.username }}</h5>
        </div>

        <div class="profile-content">
            <p><strong>First Name:</strong> {{ profile.first_name }}</p>
            <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
            <p><strong>Email:</strong> {{ profile.email }}</p>
            <p><strong>Phone:</strong> {{ profile.phone }}</p>
            <p class="text-muted"><small>Date Created: {{ profile.date_created }}</small></p>
            <p class="text-muted"><small>Last Modified: {{ profile.date_modified }}</small></p>
        </div>

        <div class="btn-group mt-3">
            {% if profile.user == request.user %}
            <a href="{% url 'update-userprofile' user.id %}" class="btn btn-primary">Update Profile</a>
            <a href="{% url 'account_change_password' %}" class="btn btn-secondary">Change Password</a>
            <a href="{% url 'home' %}" class="btn btn-info">Home</a>

            {% else %}
            <a href="{% url 'home' %}" class="btn btn-info">Home</a>
            <button class="btn btn-success" onclick="startChat('{{ profile.user.username }}')">Chat with
                {{profile.user.username }}</button>
            {% endif %}
        </div>


    </div>
</div>

<script>
    function startChat(username) {
        // Example function to start chat
        // You can customize this according to your chat implementation
        alert('Starting chat with ' + username);
        // Redirect to chat page or open chat popup
        // window.location.href = '/chat/' + username + '/';

        document.querySelector('.chat-container').classList.remove('visually-hidden');

        document.querySelector('.message')
    }
</script>
{% endblock %}