{% extends '_base.html' %}
{% load static %}
{% block title %}
Booking List
{% endblock %}

{% block content %}
<style>
    .wrapper {
        background-color: white;
        /* background-color: #f7f9fc; */
        padding: 30px;
        min-height: 100vh;

    }

    .card-wrapper {
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .badge {
        font-size: 0.9rem;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .badge.pending {
        background-color: #ffc107;
        color: #fff;
    }

    .badge.approved {
        background-color: #28a745;
        color: #fff;
    }

    .badge.rejected {
        background-color: #dc3545;
        color: #fff;
    }

    .badge.completed {
        background-color: #17a2b8;
    }
</style>
<div class="container">
    <div class="wrapper">
        <h1 class="text-center my-3">List of Bookings</h1>

        <div class="row g-3">
            {% if bookings %}
            {% for booking in bookings %}
            <div class="col-md-4 col-sm-6">
                <div class="card card-wrapper">
                    <div class="card-body">
                        <h5 class="card-title">Rental Booking</h5>
                        <div class="booking-status">
                            Rental Booking
                            {% if booking.status == 'PENDING' %}
                            <span class="badge pending">Pending</span>
                            {% elif booking.status == 'CONFIRMED' %}
                            <span class="badge approved">Approved</span>
                            {% elif booking.status == 'REJECTED' %}
                            <span class="badge rejected">Rejected</span>
                            {% elif booking.status == 'CANCELLED' %}
                            <span class="badge completed">Cancelled</span>
                            {% endif %}
                        </div>
                        <!-- <p class="badge bg-dark">{{ booking.status }}</p> -->
                        <p>booked by <a href="{% url 'profile' booking.user_id %}"><strong>
                                    {{ booking.user.username}}</strong></a></p>
                        <div class="chat-button mt-3">
                            <!-- <i class="fa fa-comments" aria-hidden="true"></i> <i class="fa fa-comments" aria-hidden="true"></i>-->
                            <button class="btn btn-primary start-chat" data-user-id="{{ booking.user.id }}">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                Chat with Tenant</button>
                        </div>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Booking Date : {{ booking.booking_date}}</li>
                        <li class="list-group-item">Rent Start Date: {{ booking.rent_start_date }}</li>
                        <li class="list-group-item">Rent End Date: {{booking.rent_end_date}}</li>
                    </ul>
                    <div class="card-body">
                        {% if is_owner %}
                        <form action="{% url 'confirm-booking' %}" method="post" class="d-inline-block">
                            {% csrf_token %}
                            <input type="hidden" name="booking_id" value="{{ booking.id}}">
                            <input type="submit" class=" card-text btn btn-primary" value="Approve">
                        </form>
                        <form action="{% url 'reject-booking' %}" method="post" class="d-inline-block">
                            {% csrf_token %}
                            <input type="hidden" name="booking_id" value="{{ booking.id}}">
                            <input type="submit" class=" card-text btn btn-danger" value="Reject">
                        </form>
                        {% else %}
                        <a href="#" class="card-link btn btn-danger">Cancel Booking</a>

                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
            {%else%}
            <p>
                Currently there are no bookings for this rental.
            </p>
            {% endif %}
        </div>
    </div>

</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}