{% extends '_base.html' %}

{% block title%} Home {% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}


<h1>This is homepage..</h1>
{% if user.is_authenticated %}
<p>Hi {{user.email}}</p>
<form action="{% url 'account_logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning">Log Out</button>
</form>

{% else %}
<p>You are currenlty not logged in. To access full feature you can <a href="{% url 'account_login' %}">Log In</a>.
    <a href="{% url 'signup' %}">Don't have account?</a>
</p>
{% endif %}
{% endblock %}