{% extends '_base.html' %}
{% load static %}
{% block title%} Home {% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}
<div class="container body-container">
    <aside class="sidebar">
        <div class="category-header sticky-top">
            <i class="fa fa-th-large" aria-hidden="true">
            </i>
            <span class="header-text">Category
            </span>
        </div>
        <div class="category-body">
            <ul id="categories-list">

            </ul>
        </div>

    </aside>
    <main class="main">
        <div class="main-header sticky-top">
            <div class="first active">
                <i class="fa fa-cubes" aria-hidden="true"></i>
                <span class="header-text">Featured Rentals</span>
            </div>
            <span class="divider"></span>
            <div class="second">
                <i class="fa fa-bolt" aria-hidden="true"></i>
                <span class="header-text">Latest Rentals</span>

            </div>
        </div>

        <div class="main-body">

            <div class="rental-card">
                <div class="main-image">
                    <img class='rental-img' src="{% get_media_prefix %}rental/apartment.jpeg" alt="Main Rental Image">
                    <div class="thumbnails">
                        <img src="{% get_media_prefix %}rental/apartment.jpeg" alt="Thumbnail 1">
                        <img src="{% get_media_prefix %}rental/apartment.jpeg" alt="Thumbnail 2">
                        <!-- Add more thumbnails as needed -->
                    </div>
                </div>
                <div class="description-section">
                    <h3>Rental Title</h3>
                    <p>Description of the rental property. This is a great place to include details about the property,
                        such as its
                        location, amenities, and any unique features it might have.</p>
                </div>
            </div>

            <div class="rental-card">
                <div class="main-image">
                    <img class='rental-img' src="{% get_media_prefix %}rental/apartment.jpeg" alt="Main Rental Image">
                    <div class="thumbnails">
                        <img src="{% get_media_prefix %}rental/apartment.jpeg" alt="Thumbnail 1">
                        <img src="{% get_media_prefix %}rental/apartment.jpeg" alt="Thumbnail 2">
                        <!-- Add more thumbnails as needed -->
                    </div>
                </div>
                <div class="description-section">
                    <h3>Rental Title</h3>
                    <p>Description of the rental property. This is a great place to include details about the property,
                        such as its
                        location, amenities, and any unique features it might have.</p>
                </div>
            </div>

            <div class="rental-card">
                <div class="main-image">
                    <img class='rental-img' src="{% get_media_prefix %}rental/apartment.jpeg" alt="Main Rental Image">
                    <div class="thumbnails">
                        <img src="{% get_media_prefix %}rental/apartment.jpeg" alt="Thumbnail 1">
                        <img src="{% get_media_prefix %}rental/apartment.jpeg" alt="Thumbnail 2">
                        <!-- Add more thumbnails as needed -->
                    </div>
                </div>
                <div class="description-section">
                    <h3>Rental Title</h3>
                    <p>Description of the rental property. This is a great place to include details about the property,
                        such as its
                        location, amenities, and any unique features it might have.</p>
                </div>
            </div>



        </div>


    </main>



    <!-- <div class="wrapper">
        <div class="first">

            <div class="category-wrapper">
                <div class="category-header">
                    
                </div>
                <div class="category-body">
                    <ul>
                        <li>
                            <a href="#">Category 1 this is new category..... Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Provident, eius?
                            </a>
                        </li>
                        <li>
                            <a href="#">Category 1</a>
                        </li>
                        <li>
                            <a href="#">Category 1</a>
                        </li>
                        <li>
                            <a href="#">Category 1</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="main-wrapper">
                <div class="rental-header">
                    <span class="header-text active-rental">Featured Rentals</span>
                    <span class="header-text">Latest Rentals</span>
                </div>
                <div class="rental-body">
                    <div class="card">
                        <div class="image-wrapper">

                            <img src="" alt="" style="width: 300; height: 300;">
                        </div>
                        <div class="card-description">
                            <h4>Card Title</h4>
                            <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore repudiandae sint
                                assumenda neque aspernatur! Odio!</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-wrapper">

                            <img src="" alt="" style="width: 300; height: 300;">
                        </div>
                        <div class="card-description">
                            <h4>Card Title</h4>
                            <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore repudiandae sint
                                assumenda neque aspernatur! Odio!</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-wrapper">

                            <img src="" alt="" style="width: 300; height: 300;">
                        </div>
                        <div class="card-description">
                            <h4>Card Title</h4>
                            <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore repudiandae sint
                                assumenda neque aspernatur! Odio!</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->
    <!-- <div class="category-container">
        <section class="categories" id="categories-section">
            <div class="category-header">
                <h3>Categories</h3>
            </div>
            <ul>
                <li><a href="#">Category 1</a></li>
                <li><a href="#">Category 2</a></li>
                <li><a href="#">Category 3</a></li>
            </ul>
        </section>
    </div> -->
    <!-- <div class="main-container">

        <main class="main">
            <section class="featured-rentals">
                <h2>Featured Rentals</h2>
                <div class="featured-container">
                    <div class="card" style="width: 18rem;">
                        <img src="{% get_media_prefix %}rental/apartment.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Rent It</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="{% get_media_prefix %}rental/apartment.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Rent It</a>
                        </div>
                    </div>
                    
                </div>

            </section> -->
    <!-- <section class="cta">
            <h2>Book Your Rental Today!</h2>
            <a href="#" class="cta-button">Book Now</a>
        </section> -->
    <!-- </main> -->
    <!-- </div> -->

</div>

{% endblock %}