{% extends '_base.html' %}
{% load widget_tweaks %}

{% block title %}
{% endblock%}

{% block styles %}
<style>
    /* Add Rental Css */
    body {
        overflow: auto;
    }

    .wrapper {
        background-color: white;
        /* height: 100vh; */

    }

    .rental-form {
        margin: 30px auto;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 15px;
    }

    input,
    textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #999;
        -moz-appearance: 'textfield';
    }

    .submit-btn {
        text-align: center;
    }

    .filter-btn {
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="wrapper">
        <h1 class="text-center p-3">{% block header %} {% endblock %}</h1>

        <form method="post" novalidate class="row g-2 rental-form" enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="col-md-6">
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if form.is_bound %}
                    {% if field.errors %}

                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field class="is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field field %}
                    {% endif %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="col-md-6">
                <div>
                    {% block submit_button %}
                    <button type="submit" class="filter-btn">Register</button>
                    <!-- <input type="submit" class="filter-btn" value="Register"> -->
                    {% endblock %}

                </div>
            </div>
            {% if form.errors %}
            <div class="col-md-6">
                {% for error in form.non_field_errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </form>


    </div>

</div>
{% endblock %}