{% block map %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<style>
    #mapid {
        height: 400px;
        width: 400px;
    }
</style>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<div id="mapid"></div>
<script>
    var map = L.map('mapid').setView([27.694776305306878, 85.35552978515625], 13); // Default location
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var circleGroup = L.layerGroup().addTo(map);
    window.rental_location = {}

    map.on('click', function (e) {
        circleGroup.clearLayers();
        var circle = L.circle(e.latlng, { radius: 20 }).addTo(circleGroup)
        $.get(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${e.latlng.lat}&lon=${e.latlng.lng}`, function (data) {
            window.rental_location['lat'] = data.lat
            window.rental_location['lng'] = data.lon
            window.rental_location['address'] = data.display_name
        });
    })

</script>


{% endblock map %}