{% load static %}
{% block nav%}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<header class="header sticky-top ">
    <div class="container">
        <nav class="nav navbar">
            <a href="{% url 'home' %}" class="brand-name">Easy Rental</a>
            <div id="categories-placeholder"></div>
            <div class="search-container">
                <form action="" method="get" class="form-flex" id="search-form">
                    <input type="text" placeholder="Search for room..." name="search" class="search-input">
                    <i class="fa fa-search search-icon"></i>
                </form>
            </div>
            <a href="{% url 'create-rental'%}" class="nav-link"><i class="fa fa-plus-square" aria-hidden="true"></i> Add
                Rental</a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="nav-link">Profile</a>
            <a href="{% url 'account_logout' %}" class="nav-link">Log Out</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="nav-link">
                <i class="fa fa-user"></i> Login
            </a>
            <div class="login-signup-divider"></div>
            <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock nav%}