{% block navbar %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="container-fluid header">
  <nav class="nav">
    <a href="{% url 'home' %}" class="brand-name">Easy Rental</a>
    <div id="categories-placeholder"></div>
    <div class="dropdown" style="display: none;">

      <button class="dropbtn" onclick="showCategories()">Categories
        <i class="fa fa-caret-down"></i>
        <i class="fa fa-caret-up" style="display: none;"></i>
      </button>
      <div class="dropdown-content" id="category-dropdown">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="search-container">
      <!-- <div></div> -->
      <form action="" method="get" class="form-flex">
        <input type="text" placeholder="Search for room..." name="search" class="search-input">
        <i class="fa fa-search search-icon"></i>
      </form>
      <!-- <div></div> -->
    </div>
    <div>new</div>
    <a href="#" class="nav-link">Add Rental</a>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}" class="nav-link">Profile</a>
    <a href="{% url 'account_logout' %}" class="nav-link">Log Out</a>
    {% else %}
    <a href="{% url 'account_login' %}" class="nav-link">
      <i class="fa fa-user"></i> Login
    </a>
    <div class="login-signup-divider"></div>
    <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
    {% endif %}
    <!-- <i class="fa fa-cart"></i> -->

  </nav>
</header>

{% endblock navbar %}